@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <!-- CSS only -->
    <link href="~/Styles/css/Custom.css" rel="stylesheet" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <title>Translate</title>
</head>
<body>

    <div class="container">
        <div style="height:700px;background-color:#9ab3f5">
            <form asp-action="Translate"
                  method="post">
                <div class="input-group mb-3">
                    <input type="search" name="text" onkeyup="OnTranslate(this)" autocomplete="off" style="height:120px;line-height:120px" class="form-input col-xs-12 col-lg-6 col-md-6" placeholder="Translate" aria-label="Username" aria-describedby="basic-addon1">
                    <input type="search" name="translated" autocomplete="off" style="height:120px;line-height:120px" disabled value="@ViewBag.Content" class="col-lg-6 col-md-6" placeholder="Translated" aria-label="Username" aria-describedby="basic-addon1">
                </div>
                <div class="form-group col-md-3">
                    <label for="translateTo">Translate From :</label>
                    <select class="form-control" name="from">
                        <option value="fa">Persian</option>
                        <option value="en">English</option>
                    </select>
                    <label for="translateTo">Translate To :</label>
                    <select class="form-control" name="to">
                        <option value="en">English</option>
                        <option value="fa">Persian</option>
                    </select>
                </div>
                <hr />
                <input type="submit" id="translateButton" value="Go" class="btn btn-block btn-success btn-anim" disabled />
            </form>
        </div>
    </div>



    <!-- JS,jQuery -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/js/site.js"></script>
    <script src="~/js/bootstrap.min.js"></script>

    <!-- JS Code -->
    <script>
        function OnTranslate(translate) {
            var bt = document.getElementById('translateButton');
            if (translate.value != '') {
                bt.disabled = false;
            }
            else {
                bt.disabled = true;
            }
        }
    </script>
</body>
</html>
